.profile-dropdown{
position: absolute;
top: 100%;
background-color: gray;
border: 1px solid black;
border-radius: 5px;
padding: 10px;
display: none;
}

.profile-dropdown.hidden{
    display: none;
}

.profile-dropdown li{
    cursor: pointer;
}